*{
    margin: 0;
}
.container {
    background: url("/image/abstract-blurred-people-seminar-event-background.jpg");
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}

.overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.537);
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
h1{
    text-align: center;
    text-transform: uppercase;
    color: red;
    margin: 20px;
}
.container-event{
    width: 100%;
    padding-top: 100px;
}
.box{
    max-width: 350px;
    padding: 10px;
    border: 3px solid chocolate;
    margin: 10px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}
.box img{
    max-width: 300px;
    height: 300px;
    display: block;
    object-fit: cover;
    padding: 5px;
}
.box .heading,
.box .text{
    width: 100%;
    padding: 0 5px;
    min-width: 300px;
}
h2, h4{
    text-transform: uppercase;
}
h2{
    text-align: left;
}
p{
    margin: 10px 0;
}
.event-btn{
    display: inline-block;
    background: chocolate;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    
}
@media (min-width: 700px){
    .container-event{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .box{
        max-width: 700px;
    }
    .box img{
        float: left;
    }
    .box .heading,
    .box .text{
        float: right;
        width: 50%;
    }
}
